.checks_wrapper {
    margin-top: 50px;
}

.products-button {
    margin-top: 15px;
    margin-left: 5px;
}

.products_wrapper {
    min-height: 300px;
}

.payment-button button{
    font-size: 24px;
    padding: 15px !important;
    margin-top: 25px !important;
    background-color: #303030;
    color: white;
}