::ng-deep .product-list button {
    margin-left: 10px;
    margin-top: 10px;
}

.order-sum {
    font-size: 19px;
}

.order-card {
    margin-top: 50px;
    min-height: 350px;
}

.order-card .mat-card-header {
    justify-content: center;
}

.user-count button {
    margin-left: 10px;
    margin-top: 10px;
    height: 50%;
}

::ng-deep .user-orders .mat-card {
    margin-top: 15px;
    min-height: 50px;
}

.user-orders {
    justify-content: center;
}

::ng-deep .subj-container span {
    margin-left: 15px;
}

::ng-deep .subj-container button {
    margin-top: 15px;
}

.user-count {
    margin-top: 15px;
    margin-left: 0px !important;
    padding-left: 0px !important;
}

.user-count .mat-accent:first-child {
    margin-left: 0px !important;
}

.user-count .mat-accent {
    padding: 10px;
    font-size: 24px;
    background-color: #303030;
}

.products-list {
    min-height: 100px;
    background-color: #efefef;
}

::ng-deep .order-modal {
    justify-content: center;
    min-height: 300px;
}

::ng-deep .order-modal .row {
    justify-content: center !important;
}

::ng-deep .order-modal img:nth-child(2) {
    height: 50%;
    margin-top: 10%;
}

::ng-deep .order-payments .row span:first-child {
    padding-top: 30px;
    margin-right: 35px;
}

::ng-deep .order-payments .row span {
    min-height: 150px;
}

::ng-deep .order-payments .row span:hover {
    background-color: lightgray;
}

::ng-deep .active {
    background-color: lightgray;
}

::ng-deep .payment-button {
    font-size: 24px;
    padding: 15px !important;
    margin-top: 25px !important;
    background-color: #303030;
    color: white;
}