::ng-deep .product-list button {
    margin-left: 10px;
    margin-top: 10px;
}

.order-sum {
    font-size: 19px;
}

.order-card {
    margin-top: 50px;
    min-height: 350px;
}

.order-card .mat-card-header {
    justify-content: center;
}

.user-count button {
    margin-left: 10px;
    margin-top: 10px;
    height: 50%;
}

::ng-deep .user-orders .mat-card {
    margin-top: 15px;
    min-height: 50px;
}

.user-orders {
    justify-content: center;
}

::ng-deep .subj-container span {
    margin-left: 15px;
}

::ng-deep .subj-container button {
    margin-top: 15px;
}

.user-count {
    margin-top: 15px;
    margin-left: 0px !important;
    padding-left: 0px !important;
}

.user-count .mat-accent:first-child {
    margin-left: 0px !important;
}

.user-count .mat-accent {
    padding: 10px;
    font-size: 24px;
    background-color: #303030;
}

.products-list {
    min-height: 100px;
    background-color: #efefef;
}